body{
     background: #CCCCCC
}

#banner{
  width:100%
}

h1{
     text-align: center 
}

p {
     text-align: center;
}

#missão {
     font-size: 26px
          {

          em strong {
          color:pink;
}

.itens {
     font-style:italic
}

.beneficios{
     background:#FFFFFF
}

H2 (
text-align: center 
}

ul}
   display: inline-block;
   vertical-align: top:
  width: 20%
nargin-right:15%
}

.
